@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  /* Modo Claro */
  color-scheme: light;
  --color-brand-primary-raw: #01A8A8; 
  --bg-base: #EBEFF4;          
  --bg-surface: #E3E7EF;       
  --bg-surface-hover: #D5DCE6; 
  
  --text-base: #1E2532;        
  --text-muted: #64748B;       
  
  --border-subtle: #CBD5E1;    
}

.dark {
  /* Modo Oscuro */
  color-scheme: dark; 
  --color-brand-primary-raw: #01A8A8;
  --bg-base: #323742;          
  --bg-surface: #3E4452;       
  --bg-surface-hover: #4A5162; 
  
  --text-base: #F8FAFC;        
  --text-muted: #94A3B8;       
  
  --border-subtle: #4A5162;    
}

@theme {
  --font-sans: "Inter", sans-serif;
  
  --default-font-family: var(--font-sans);
  --color-brand-primary: var(--color-brand-primary-raw);  

  --color-background: var(--bg-base);
  --color-surface: var(--bg-surface);
  --color-surface-hover: var(--bg-surface-hover);
  
  --color-content: var(--text-base);
  --color-muted: var(--text-muted);
  
  --color-divider: var(--border-subtle);
}

body {
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  
  background-color: var(--bg-base);
  color: var(--text-base);
  
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}